@use '../utilities/mixins' as *;
@use '../layout/two-columns' as *;

#gameplay-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-self: stretch;
	gap: 0.5rem;
	width: 100%;
	margin: 0 auto;

	@include respond-to (small) {
		max-width: 576px;
	}

	@include respond-to (big) {
		max-width: 1400px;
	}
}

#game-content {
	@extend .two-column-layout;
	//outline: 2px solid red;
}

.game-section {
	@extend .section-box;
	//align-items: flex-start;
	//outline: 2px dashed blue;
}
