@use '../utilities/mixins' as *;

/* Top infobar */

#info-bar {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background: #E8FFF1;
	border-radius: 0px 0px 8px 8px;
	max-width: 100%;
	
	@include respond-to(big) {
		flex-direction: row;
		gap: 8px;
	}
}


/* info box (one each for player and character) */
/* should be column for mobile, row for desktop */

.info-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	height: 100%;
	//width: 100%;
	padding: 8px 16px;
	gap: 8px;
	border: 1px solid rgba(0, 0, 0, 0.45);
	border-radius: 8px;
	flex: 1 1 100%;
	
	@include respond-to(big) {
		flex: 1 1 50%;
	}
}

#player-info {
	order: 0;
}

#character-info {
	order: 1;
}

.info-block {
	display: flex;
	flex-direction: column;
	gap: 4px;
	flex: 1 1 45%;
	
	&.left {
		justify-content: flex-start;
		order: 0;
	}
	
	&.right {
		justify-content: flex-end;
		order: 1;
	}
}



.info-line {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}


.name-disp,
.level-disp {
	display: flex;
	align-items: center;
	color: #000000;
	letter-spacing: 0.4px;
	font-weight: 400;
	font-size: 12px;

	white-space: normal;
	word-break: break-word;
	text-align: right;
}

.name-disp {
	order: 0;
}

.level-disp {
	order: 1;
}