@use '../utilities/mixins' as *;
@use '../layout/two-columns' as *;


#info-bar {
	@extend .two-column-layout;
	border-radius: 0 0 0.5rem 0.5rem;
}


.info-box {
	@extend .section-box;
	flex-direction: row;
	align-items: space-between;
}

#player-info {
	order: 0;
}

#character-info {
	order: 1;
}

.info-block {
	display: flex;
	flex-direction: column;
	//align-items: space-between;
	align-self: auto;
	gap: 0.25rem;
	flex: 1 1 45%;
	
	&.left {
		justify-content: flex-start;
		order: 0;
	}
	
	&.right {
		justify-content: flex-end;
		order: 1;
	}
}



.info-line {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	align-self: auto;
	gap: 0.5rem;
}


.name-disp,
.level-disp {
	display: flex;
	align-items: center;
	color: #000000;
	letter-spacing: 0.4px;
	
	white-space: normal;
	word-break: break-word;
	text-align: right;
}

.name-disp {
	order: 0;
}

.level-disp {
	order: 1;
}