@use '../base/variables' as *;
@use '../base/typography' as *;

/* Navigation Drawer */
.nav-drawer {
    position: fixed;
    top: 0;
    left: -250px;
    /* Hidden by default */
    width: 250px;
    height: 100%;
    background: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: transform 0.3s ease-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.nav-drawer.open {
    transform: translateX(250px);
    /* Slides in */
}

.nav-drawer-header {
    padding: 16px;
    background: $color-secondary;
    //color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-drawer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-drawer-links li {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.nav-drawer-links a {
    text-decoration: none;
    color: #333;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
}

.overlay.visible {
    opacity: 1;
    pointer-events: all;
}

/* Button to Open Drawer */
.open-drawer-btn {

    background: none;
    border: none;
    cursor: pointer;
    z-index: 1500;
}
