@use '../base/variables' as *;
@use '../base/typography' as *;
@use '../utilities/mixins' as *;

#toast-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    pointer-events: none; /* So it doesn't block clicks */
}

.toast {
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.toast.hide {
    opacity: 0;
}