@use '../utilities/mixins' as *;

.two-column-layout {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 0.5rem;
	width: 100%;
	
	@include respond-to (small) {
		flex-direction: column;
	}
	
	@include respond-to (big) {
		flex-direction: row;
	}
}

.section-box {
	display: flex;
	//flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	background: #E8FFF1;
	border: 1px solid rgba(0, 0, 0, 0.45);
	border-radius: 0.5rem;
	
	@include respond-to (small) {
		flex: 1 1 100%;
		width: 100%;
		max-width: 100%;
		align-self: stretch;
	}
	
	@include respond-to (big) {
		flex: 1 1 50%;
		align-self: stretch;
	}
}