@use '../../styles/base/variables' as v;
@use '../../styles/utilities/mixins' as m;
@use '../../styles/semantic/typography' as t;
@use 'sass:color';

.formFrame {
  max-width: 26rem;
  margin: 0 auto;
  padding: v.$spacing-lg;
  border-radius: v.$border-radius;
  background: v.$color-light;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);

  @include m.respond-to(sm) {
    padding: v.$spacing-xl;
  }
}

.formTitle {

  margin-bottom: v.$spacing-lg;
  text-align: center;
  @include t.apply-text-style(t.$text-heading-2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-gap;
  min-width: 17rem;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: v.$spacing-md;
}
