db.sqlite3
venv
venv-windows
venv-linux
__pycache__/
.env
env.env
env
node_modules
.dockerignore
gunicorn_config.py
backup_file.sql
backup_file.dump
staticfiles/
local_backup.dump
Makefile
debug.log
progress_rpg.log
static/.sass-cache/