/* _variables.scss */

$color-primary: #007a32;
$color-secondary: #e7fff1;
$color-text-primary: #1e1e1e;
$color-text-invert: #fbfbfb;

$color-light: #ffffff;
$color-dark: #2c3e50;

$button-padding: 0.5em 1em;
$button-radius: 0.5em;