@use '../../styles/base/variables' as v;
@use '../../styles/semantic/typography' as t;
@use '../../styles/tokens/typography' as tt;


.progressBarWrapper {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-gap;
  width: 100%;
  gap: v.$spacing-gap;
}

.label {
  color: v.$color-text-primary;
  pointer-events: none;
  @include t.apply-text-style(t.$text-caption)
}

.progressTrack {
  width: 100%;
  height: v.$spacing-lg;
  background-color: v.$color-light;
  overflow: hidden;
  position: relative;

  border-radius: v.$border-radius;
  border: 1px solid v.$color-primary;
}

.progressBarFill {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: width 0.3s ease;
  border-radius: v.$border-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: v.$border-radius;
  border-bottom-right-radius: v.$border-radius;
  white-space: nowrap;
  padding: 0 0.5rem;
}

.labelInside {
    color: v.$color-light;
  }

.labelOutside {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: v.$color-text-primary;
  user-select: none;
  pointer-events: none;
}

.default {
  background-color: v.$color-primary;
}

.warning {
  background-color: #ff9800;
}

.danger {
  background-color: #f44336;
}

.paused {
  opacity: 0.5;
}
