@use '@/styles/base/variables' as v;

.progressBarWrapper {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-gap;
  width: 100%;
}

.label {
  font-size: 12px;
  color: v.$color-text-primary;
}

.progressTrack {
  width: 100%;
  height: v.$spacing-sm;
  background-color: v.$color-light;
  border-radius: v.$border-radius;
  overflow: hidden;
}

.progressBarFill {
  height: 100%;
  transition: width 0.3s ease;
}

.default {
  background-color: v.$color-primary;
}

.warning {
  background-color: #ff9800;
}

.danger {
  background-color: #f44336;
}

.paused {
  opacity: 0.5;
}
