@use './variables' as v;

h1, h2, h3 {
  font-weight: v.$font-weight-bold;
  color: v.$color-text-primary;
  margin-bottom: v.$spacing-sm;
}

p {
  margin-bottom: v.$spacing-md;
}


// Text styles

// Body
$text-body: (
  base: (
    font-size: v.$font-size-base,
    font-weight: v.$font-weight-base,
    line-height: v.$line-height-base
  ),
  md: (
    font-size: 1.125rem
  )
);

// Heading 1
$text-heading-1: (
  base: (
    font-size: v.$font-size-2xl,
    font-weight: v.$font-weight-bold,
    line-height: v.$line-height-heading
  ),
  md: (
    font-size: 2.25rem
  ),
  xl: (
    font-size: 2.75rem
  )
);

// Heading 2
$text-heading-2: (
  base: (
    font-size: v.$font-size-xl,
    font-weight: v.$font-weight-bold,
    line-height: v.$line-height-heading
  ),
  lg: (
    font-size: 2rem
  )
);

// Caption
$text-caption: (
  base: (
    font-size: v.$font-size-xs,
    font-weight: v.$font-weight-base,
    line-height: v.$line-height-base
  )
);
