@use '../../../styles/base/variables' as v;
@use '../../../styles/semantic/typography' as t;
@use '../../../styles/semantic/colors' as c;

.container {
  padding: v.$spacing-sm v.$spacing-md;
  background-color: c.$color-bg;
  border-radius: v.$border-radius;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  width: 100%;
  margin: 0 auto;
}

.header {
  margin-bottom: v.$spacing-sm;
  @include t.apply-text-style(t.$text-heading-2);
}
