/* ActivityPanel.module.scss */
@use '../../../styles/base/variables' as v;
@use '../../../styles/semantic/typography' as t;

.listSectionHeader {
  margin-bottom: v.$spacing-sm;
  text-align: center;
  @include t.apply-text-style(t.$text-heading-2);
}

.activity-totals {
  display: flex;
  justify-content: space-between;
  margin-bottom: v.$spacing-sm;
  gap: v.$spacing-gap;

  @include t.apply-text-style(t.$text-body);

  span {
    &:first-child {
      @include t.apply-text-style(t.$text-body);
    }
  }
}
