@use '../../styles/base/variables' as v;
@use ''

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: v.$spacing-md v.$spacing-xl;
  gap: v.$spacing-lg;
  margin-top: v.$spacing-md;
  width: 100%;
  background: v.$color-light;
  color: $color-primary;

  a {
    color: $color-primary;
    margin: 0 v.$spacing-sm;
    text-decoration: none;
    font-size: $font-size-base;

    &:hover {
      text-decoration: underline;
      color: v.$color-primary-hover;
    }
  }
}
