{% extends "base_generic.html" %}

{% block title %}Order preview{% endblock %}

{% block content %}

    <h1>Order preview</h1>
    

        <div class="product">
            <div class="description">
                <h3>Stubborn Attachments</h3>
                <h5>$20.00</h5>
            </div>
        </div>
        
        <form action="/create-checkout-session" method="POST">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>

    


{% endblock %}

