{% extends "base_generic.html" %}

{% block title %}Payments{% endblock %}

{% block content %}

    <h1>Welcome to Progress RPG!</h1>
    
    <script src="https://js.stripe.com/v3/"></script>

    <button id="checkout-button">Subscribe</button>

    <script>
        const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");

        document.getElementById("checkout-button").addEventListener("click", () => {
            fetch("/subscriptions/create-checkout-session/<plan_id>/")
            .then(response => response.json())
            .then(data => stripe.redirectToCheckout({ sessionId: data.id }));
        });
</script>


{% endblock %}

