
@use '../utilities/mixins' as *;

.input-div {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	isolation: isolate;
	
	height: 3.5rem;
	padding: 0;
	border-radius: 0.25rem 0.25rem 0 0;

	flex: none;
	order: 0;
	flex-grow: 0;

	@include respond-to(small) {
		width: 100%;
		max-width: none;
	}

	@include respond-to(big) {
		width: 80%;
		max-width: 25rem;
	}
}

.field-div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 0.5rem;


	background: #E8FFF1;
	border-radius: 0.25rem 0.25rem 0 0;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	
	z-index: 0;
}