@use '../../styles/semantic/typography' as t;

.home-page {
  text-align: center;
  margin-top: 10%;
  padding: 2rem;

  h1 {
    @include t.apply-text-style(t.$text-heading-1);
    margin-bottom: 0.5rem;
  }

  p {
    color: #555;
    margin-bottom: 2rem;
    @include t.apply-text-style(t.$text-body);
  }
}
