

#activity-section {
	order: 0;
}

#quest-section {
	order: 1;
}

.section-top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 0;
	gap: 0.5rem;
}

.section-status {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.section-status-header,
.section-status-message {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.section-status-message {
	order: 1;
}

.current-item {
	order: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: 0.1px;
}

#quest-list {
	list-style-type:none;
	padding: 0;
	margin: 0;
}

#activity-input-div, #quest-description {
	order: 2;
}	

#activity-buttons, #quest-stages {
	order: 3;
}	

#today-activities, #quest-rewards {
	order: 4;
}	

#show-quests-btn-frame {
	order: 5;
	
}	

#choose-quest {
	order: 6;
}	

/* Quest: */
#ident {
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;

	display: flex;
	align-items: center;
}


/* Quest display */
#ident {

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.25rem 0;
	gap: 0.5rem;

	align-self: stretch;
}


#ident {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	gap: 0.5rem;
}

/* Active quest: 
#ident {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% 
	display: flex;
	align-items: center;
	letter-spacing: 0.1px;
}

/* Searching for scraps 
#ident {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% 
	display: flex;
	align-items: center;
	letter-spacing: 0.1px;}
*/

/* Frame 57 */
#ident {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	gap: 0.5rem;

	align-self: stretch;
}

/* Description of the quest. This goes on for a little while, but not too long or the player will get bored. */
#ident {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 0.25px;

}

/* Quest stages */
#ident {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.25rem 0;
	gap: 0.5rem;
	align-self: stretch;
}

/* Quest stages header */
#ident {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	gap: 0.5rem;
}

