
.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: #fff;
    width: 90%;
    gap: 32px;

    .home-header {
        font-size: $text-24-font-size;
        text-align: center;
    }

    .home-main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;

        .home-intro{
            display: flex;
            flex-direction: column;
            font-size: text-20-font-size;    

            ul {
                text-align: left;
                list-style-type: disc;   
                gap: 8px;
            }
        }

        .home-features {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
}





