@use '../../styles/base/variables' as v;
@use '../../layout/two-columns' as tc;
@use '../../styles/semantic/typography' as t;

.currentQuestSection {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-gap;
  padding: v.$spacing-sm v.$spacing-md;
  background-color: v.$color-light;
  border-radius: v.$border-radius;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
  width: 100%;
  margin: 0 auto;
}

.questText {
  color: v.$color-primary;
  margin: 0;
  @include t.apply-text-style(t.$text-body);
}

.questLabel {
  color: v.$color-primary;
  @include t.apply-text-style(t.$text-heading-2);
}

.currentQuestTitle {
  color: v.$color-primary;
  @include t.apply-text-style(t.$text-heading-2);
}

.activityRow {
  @include tc.bodyRow;
}
