@use '../../styles/base/variables' as v;
@use '../../layout/two-columns' as tc;
@use '../../styles/semantic/typography' as t;
@use '../../styles/semantic/colors' as c;

.currentQuestSection {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-gap;
  padding: v.$spacing-sm v.$spacing-md;
  //background-color: v.$color-light;
  //box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
  border-radius: v.$border-radius;
  width: 100%;
  margin: 0 auto;
  @include tc.bodyRow;
}

.questText {
  margin: 0;
  @include t.apply-text-style(t.$text-body);
}

.questLabel {
  @include t.apply-text-style(t.$text-body);
}

.currentQuestTitle {
  @include t.apply-text-style(t.$text-body);
}

.questRow {
  @include tc.bodyRow;
}

.completedStage {
  @include t.apply-text-style(t.$text-body);
}

.currentStage {
  //border-left: v.$spacing-xs solid c.$color-border-accent;
  padding-left: v.$spacing-sm;
  @include t.apply-text-style(t.$text-body);
}

.futureStage {
  @include t.apply-text-style(t.$text-body);
}
