@use '../../styles/base/variables' as v;
@use '../../styles/utilities/mixins' as m;

.timer {
	display: flex;
	flex-direction: column;
}

.timerFrame {
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: v.$spacing-gap;

	border-radius: v.$border-radius;
}

.timerStatus {
  margin-right: v.$spacing-sm;
  font-weight: v.$font-weight-bold;
}


.timerText {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: v.$padding-base;
	gap: v.$spacing-gap;

	min-width: max-content;
	width: 8rem;
	border: 1px solid v.$color-primary;
	border-radius: v.$border-radius;

	color: v.$color-dark;
	@include m.apply-text-style(v.$text-body);
	 & {font-weight: v.$font-weight-bold;}
}
