@use '../../styles/base/variables' as v;
@use '../../styles/utilities/mixins' as m;

.timer {
	display: flex;
}

.timerFrame {
	box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: v.$spacing-xs, v.$spacing-sm;
	gap: v.$spacing-sm;

	border: 1px solid v.$color-primary;
	border-radius: v.$border-radius;
}

.timerText {
	display: flex;
	align-items: center;
	text-align: center;

	color: v.$color-dark;
	@include m.apply-text-style(v.$text-body);
}
