{% extends 'base_generic.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
<div id="gameplay-container">
  <h1>Welcome, {{ profile.name }}</h1>

  <!-- Activity -->
  <div id="activity-section">
    <h2>Activity</h2>
    <div id="activity-input-div">
      <input type="text" id="activity-input" placeholder="Enter activity" />
      <button id="start-activity-btn">Enter Activity</button>
    </div>
    <p id="activity-timer">00:00</p>
    <button id="pause-activity-btn" disabled="true">Pause activity</button>
    <button id="stop-activity-btn">Stop activity and submit</button>
    <div>
      <h3>Today's activities</h3>
      <ul id="activity-list">
        {% for activity in activities %}
          <li>{{ activity.name }} - {{ activity.duration|format_duration }} <!--- {{ activity.created_at }} -->
          </li>
        {% empty %}
          <p>No activities completed today</p>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Quest Display -->
  <div id="quest-section">
    <h2>Quest</h2>

    <p id="quest-timer">{{ questTimer.duration }}</p>

    <!-- change/test -->
    
      <p>Current quest: <span id="quest-name">{{ character.current_quest.name }}</span></p>
      <p>Description: <span id="quest-description">{{ character.current_quest.description }} </span></p>
    
    <div id="choose-quest">
      <h2>Available quests:</h2>
      <form id="choose-quest-form" data-url="{% url 'choose_quest' %}">
        {% csrf_token %}
        <fieldset>
          <legend>Select a quest</legend>

          {% for quest in quests %}
            <label>
              <input type="radio", name="quest" value="{{ quest.id }}" required>
              {{ quest.name}}
            </label><br>
            {% empty %}
            <p>No quests available</p>
          {% endfor %}
        </fieldset>
      
        <button type="submit" id="choose-quest-btn">Choose Quest</button>
      </form>

      <!-- placeholder for feedback after submitting -->
      <p id="feedback-message"></p>
      
    </div>
  </div>

  
</div>
<script src="{% static 'js/game.js' %}"></script>

{% endblock %}
