// styles.scss

// Base
@use 'base/reset';
//@use 'base/variables' as *;
//@use 'base/typography' as *;
@use 'base/global';

@use 'utilities/mixins';


@use 'components/button';
@use 'components/form';
@use 'components/timer';
@use 'components/input';

@use 'layout/footer';
@use 'layout/infobar';
@use 'layout/lists';
@use 'layout/modal';
@use 'layout/navbar';
@use 'layout/nav-drawer';
@use 'layout/two-columns';

@use 'pages/index';
@use 'pages/game';




* {
	max-width: 100%;
}

html {
	display: flex;
	width: 100vw;
}
.hidden {
    display: none; /* Completely removes the button from layout */
}

body {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;

	position: relative;
	width: 100%;
	min-width: 260px;
	
	//height: 800px;

	background: #FFFFFF;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;

}

@media (max-width: 450px) {
	body {
		max-width: 450px;
	}
}


main {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}





