@use '../../two-columns' as tc;
@use '../../../styles/base/variables' as v;
@use '../../../styles/semantic/typography' as t;

.infoBox {
	@include tc.section-box;
}

.column {
	display: flex;
	flex-direction: column;
	align-self: auto;
	gap: v.$spacing-gap;
	flex: 1 1 45%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: baseline;
	align-self: auto;
	gap: v.$spacing-gap;
}

.title {
	@include t.apply-text-style(t.$text-heading-2);
}

.label {
	@include t.apply-text-style(t.$text-body);
}

.value {
	@include t.apply-text-style(t.$text-body);
}

.nameLabel,
.nameValue {
	@include t.apply-text-style(t.$text-body);
}

.levelLabel,
.levelValue {
	@include t.apply-text-style(t.$text-body);
}


.xpLabel,
.xpValue {
	@include t.apply-text-style(t.$text-body);
}
