@use '../base/variables' as *;

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == big {
    @media (min-width: 577px) {
      @content;
    }
  } 
}

@mixin button-style(
  $bg: #006128,
  $hover-bg: #00682b,
  $text-color: #ffffff,
  $padding: $button-padding,
  $height: 2.5rem,
  $gap: 0.5rem
) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: $padding;
  height: $height;
  gap: $gap;

  background: $bg;
  border-radius: 0.5rem;
  color: $text-color;

  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1px;

  cursor: pointer;
  
  &:hover {
    background: $hover-bg;
    box-shadow: 
      0px 1px 2px rgba(0, 0, 0, 0.267),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
}