@use '../../styles/base/variables' as v;
@use '../../styles/utilities/mixins' as m;
@use '../../styles/semantic/typography' as t;

.listSection {
  padding: v.$spacing-xs 0;
  gap: v.$spacing-gap;
  align-self: stretch;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: v.$spacing-xs;
  width: 100%;
  list-style: none;
}

.list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: v.$spacing-sm;
  width: 100%;
  padding: v.$spacing-xs v.$spacing-sm;
  border-radius: v.$border-radius;
  background-color: v.$color-light;
  @include t.apply-text-style(t.$text-body);

  &.hidden {
    display: none !important;
  }
}

.selectable li:hover {
  background-color: v.$color-light-hover;
  cursor: pointer;
}

.selected {
  background-color: v.$color-text-primary;
  @include t.apply-text-style(t.$text-body);
}
