{% extends "base_generic.html" %}

{% block title %}Delete account{% endblock %}

{% block content %}
    <h2>Delete account</h2>
    <p>Are you sure you want to delete your account? This action cannot be undone.</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Yes, delete my account</button>
    </form>
    
    <a href="{% url 'profile' %}">Cancel</a>
    
    <div>

        <div>
            <a href="{% url 'download_user_data' %}">Download my data</a>
        </div>
        <div>
        {% if user.is_staff %}
                <a href="/admin/">Go to Admin Panel</a>
            
        {% endif %}
        </div>
        <div>
            <p>
                <a href="{% url 'logout' %}">Log out</a>
            </p>
        </div>
    </div>  

{% endblock %}