{% extends "base_generic.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <div class="home-content">
        <div class="home-header">
            <h1>Goodbye procrastination, hello Progress!</h1>
        </div>

        <div class="home-main">
            <div class="home-intro">
                <p>Want to get stuff done? Feeling stuck on the sofa or trapped by procrastination?</p>
                <p>You might be:</p>
                <ul class="list">
                    <li>Bored by chores</li>
                    <li>Anxious or stressed at work</li>
                    <li>Keen to boost productivity</li>
                    <li>Neuro-divergent</li>
                </ul>
            </div>

            <div class="home-features">

                <h2>Check out some key features…</h2>
            

            
                <h3>Team Up with Your Virtual Companion</h3>
                <p>Stay focused and feel supported with your in-game companion by your side, mirroring your tasks and keeping you accountable. Work together to tackle each quest, building momentum and motivation as you go.</p>

                <h3>Turn Tasks into Quests</h3>
                <p>Stay motivated by transforming your to-do list into a series of exciting quests. Level up your skills and earn rewards as you conquer tasks one by one.</p>

                <h3>Stay Connected and Supported</h3>
                <p>Join a community of like-minded adventurers. Share accomplishments and support each other in a positive journey of productivity.</p>
                
            </div>
        </div>
    </div>

{% endblock %}

