{% extends "base_generic.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="two-column-layout">

    <!-- Player info -->
    <div class="section-box">
        
        <div class="section-row section-top-bar justify-center">
            <h2 class="section-header">Profile</h2>
        </div>

        <div class="section-row">
            <p><strong>Name:</strong> {{ profile.name|default:"(no name)" }}!</p>
            <p><strong>Bio:</strong> {{ profile.bio }}</p>
        </div>

        <div class="section-row list-section">
            <h3>Player Stats</h3>
            <ul class="list">
                <li>Level: {{ profile.level }}, XP: {{ profile.xp }}/{{ profile.get_xp_for_next_level }}</li>
                <li>Total time tracked: {{ total_minutes }} minutes</li>
                <li>Total activities tracked: {{ profile.total_activities }}</li>
                <li>Current login streak: {{ profile.login_streak }} days</li>
                <li>Longest streak: {{ profile.login_streak_max }} days</li>
            </ul>
        </div>

        <div class="section-row list-section">
            <h3>Manage my data and account</h3>
            <div>
                <a href="{% url 'edit_profile' %}">Edit Profile</a>
            </div>
            <div>
                <a href="{% url 'download_user_data' %}">Download my data</a>
            </div>
            <div>
                <a href="{% url 'delete_account' %}">Delete account</a>
            </div>
            {% if user.is_staff %}
            <div>
                <a href="/admin/">Go to Admin Panel</a>
            </div>
            {% endif %}
        </div>

    </div>
    <!-- End of player info -->

    <!-- Character info -->
    <div class="section-box">

        <div class="section-row section-top-bar justify-center">
            <h2 class="section-header">Character</h2>
        </div>

        <div class="section-row">
            <p><strong>Name:</strong> {{ character.first_name }} {{ character.last_name }}</p>
        </div>

        <div class="section-row list-section">
            <h3>Character Stats</h3>
            <ul class="list">
                <li>Level: {{ character.level }}</li>
                <li>XP: {{ character.xp }}/{{ character.xp_next_level }}</li>
                <li>Quests completed: {{ character.total_quests }}</li>
            </ul>
        </div>

    </div>
    <!-- End of character info -->

</div>
{% endblock %}