{% extends "base_generic.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h2>Profile</h2>
    <p>Welcome, {{  profile.user.username }}!</p>

    <p><strong>Bio:</strong> {{ profile.bio }}</p>

    <br>
    <div>
        <div>
            <a href="{% url 'dashboard' %}">Go to dashboard</a>
        </div>
        <div>
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
        </div>
        <div>
            <a href="{% url 'download_user_data' %}">Download my data</a>
        </div>
        <div>
            <a href="{% url 'delete_account' %}">Delete account</a>
        </div>
        <div>
        {% if user.is_staff %}
                <a href="/admin/">Go to Admin Panel</a>
            
        {% endif %}
        </div>
        <div>
            <p>
                <a href="{% url 'logout' %}">Log out</a>
            </p>
        </div>
    </div>  

{% endblock %}