{% extends "base_generic.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div>
    <h2>Register</h2>
    <div⚠️ <strong>Warning:</strong> This game is in alpha and may have severe bugs, including data loss. Data may also be reset without warning. Please proceed with caution.
</div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
            <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
            <div class="error">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
            <div class="error">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.invite_code.id_for_label }}">Invite Code</label>
            {{ form.invite_code }}
            {% if form.invite_code.errors %}
            <div class="error">{{ form.invite_code.errors }}</div>
            {% endif %}
        </div>        
        <div class="form-group">
            <label for="{{ form.agree_to_terms.id_for_label }}">
                I agree to the <a href="https://progressrpg.com/terms-of-service/" target="_blank">terms of service</a> and have read the <a href="https://progressrpg.com/privacy-policy-2/" target="_blank">privacy policy</a>.
            </label>
            {{ form.agree_to_terms }}
            {% if form.agree_to_terms.errors %}
            <div class="error">{{ form.agree_to_terms.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="button-filled">Register</button>
    </form>
</div>
<div>
    <p>Have an account already? <a href="{% url 'login' %}">Sign in here</a></p>
</div>
{% endblock %}