{% extends "base_generic.html" %}

{% load static %}

{% block title %}Tutorial{% endblock %}

{% block content %}

<div class="onboarding-tutorial" style="max-width: 800px; margin: 2rem auto; text-align: center;">
    <h2>How to Use Progress RPG</h2>
    <img src="{% static 'images/tutorial-v1.png' %}" alt="Progress RPG tutorial" style="max-width: 100%; height: auto; border: 2px solid #ccc; border-radius: 8px;">

    <form method="POST">
        {% csrf_token %}

        <button type="submit" class="button-filled">Continue to game</button>
    </form>
</div>


{% endblock %}
