@use '../../../../styles/base/variables' as v;
@use '../../../two-columns' as tc;
@use '../../../../styles/semantic/typography' as t;

.questDetail {
  padding: v.$padding-base;
  display: flex;
  flex-direction: column;
  @include tc.section-box;
}

.durationSelector {
  margin-top: v.$spacing-md;
  display: flex;
  flex-direction: column;
  max-width: 16rem;
}

.durationSelector label {
  @include t.apply-text-style(t.$text-body);
}

.durationSelector select {
  padding: v.$spacing-xs;
}

.placeholder {
  @include t.apply-text-style(t.$text-body);
}
