@use '../../../../styles/base/variables' as v;
@use '../../../two-columns' as tc;

.questDetail {
  padding: v.$padding-base;
  display: flex;
  flex-direction: column;
  @include tc.section-box;
}

.durationSelector {
  margin-top: v.$spacing-md;
  display: flex;
  flex-direction: column;
  max-width: 16rem;
}

.durationSelector label {
  //margin-bottom: 0.25rem;
  font-weight: v.$font-weight-bold;
}

.durationSelector select {
  padding: v.$spacing-xs;
}

.placeholder {
  font-style: italic;
  color: #666;
}
