@use '../../../../styles/base/variables' as v;
@use '../../../two-columns' as tc;

.questList {
  width: 35%;
  border-right: 1px solid #eee;
  padding: v.$padding-base;
  overflow-y: auto;
  @include tc.section-box;
}

.questList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.questList .selected {
  background-color: v.$color-secondary;
  color: v.$color-primary;
  font-weight: v.$font-weight-bold;
}
